:root{
    --blue: #0ea5e9;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img{
    border-radius: 50%;
}
.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
.sidebar{
    grid-row: 1/-1;
    background-color: var(--blue);
    padding-left: 1.5vw;
    padding-top: 1.5vh;
    color: white;
}
.sidebar h1{
    font-size: 1.7vw;
}
.sidebar .title{
    margin-bottom: 2.5vh;
}
.sidebar h2{
    font-size: 1.1vw;
}
.sidebar-menu{
    display: flex;
    align-items: center;
    padding-left: 0.5vw;
}
.sidebar-menu:nth-of-type(7){
    margin-bottom: 2.5vh;
}
svg{
    width: 1.2vw;
    margin-right: 1vw;
}
.sidebar svg{
    fill: white;
}
.title > svg{
    width: 2.5vw;
    margin-right: 0.5vw;
}
.title{
    display: flex;
    align-items: center;
}
.header{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.header img{
    width: 3vw;
    margin-right: 1vw;
}
.search-row{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}
.search-row svg{
    width: 1.3vw;
}
.search-row input{
    height: 2vw;
    border-radius: 30px;
    font: inherit;
    border: none;
    background-color: #e2e8f0;
    padding: 8px 12px;
    margin-right: 5vw;
    flex: 1;
}
.search-row .name{
    width: 10vw;
    margin-left: 2.5vw;
    margin-right: 1vw;
    font-weight: 700;
    font-size: 1.2rem;
}
.header .button-row{
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-bottom: 1vh;
}
.button-row svg{
    width: 3vw;
}
.button-row .name-box{
    display: flex;
    flex-direction: column;
    margin-top: -0.5vw;
    flex: 1;
}
.button-row p{
    font-size: 0.8rem;
}
.button-row .name{
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: -0.6rem;
}
.button-row .button-box{
    display: flex;
    width: 20rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-right: 3vw;
}
.button-row button{
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 24px;
    font-weight: 700;
    font-size: 1vw;
}
.main-content{
    background-color: #cbd5e1;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 3vh 2vw;
}
.main-content .project{
    grid-row: 1/-1;
}
.main-content .title{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin-right: 1vw;
}
.projects-container .card{
    background-color: white;
    border-radius: 10px;
    display: flex;
    height: 20vh;
}
.yellow{
    background-color: #fbbf24;
    border-radius: 10px 0 0 10px;
    flex: 1;
}
.content{
    flex: 35;
    padding: 2vw 1vw;
    display: flex;
    flex-direction: column;
}
.content-title{
    font-weight: 700;
}
.content p{
    font-size: 0.8rem;
    font-weight: 500;
    flex: 1;
}
.content-buttons{
    text-align: end;
}
.announcement{
    margin-left: 1rem;
}
.announcement .announcements-container{
    background-color: white;
    border-radius: 5px;
}
.announcement .card{
    display: flex;
    flex-direction: column;
    padding: 2vw;
}
.announcement p{
    font-size: 0.7rem;
    font-weight: 400;
}
.border{
    margin: -1.5rem 1.5rem -0.5rem 1.5rem;
    height: 1px;
    background-color: #d1d5db;
}
.trending{
    margin-left: 1rem;
    grid-row: 2/3;
    margin-top: 2rem;
}
.trending-container{
    background-color: white;
    border-radius: 5px;
}
.trending .content-title{
    font-size: 0.7rem;
}
.trending p{
    font-size: 0.7rem;
    font-weight: 300;
}
.trending .card{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    padding: 1.5rem;
    align-items: center;
    margin-bottom: -2.5rem;
}
.trending .card img{
    width: 1.5rem;
    grid-row: 1/-1;
}
.trending .content-title{
    margin-top: 0.1rem;
    font-size: 1rem;
}
.trending p{
    margin-top: -0.01rem;
}